<p id="notice"><%= notice %></p>
<table class="table table-bordered table-condensed">
  <tbody>
    <tr>
      <td><strong>Customer:</strong></td>
      <td><%= @order.customer.name %></td>
    </tr>
    <tr>
      <td><strong>Delivery:</strong></td>
      <td><%= @order.delivery %></td>
    </tr>
    <tr>
      <td><strong>Gate:</strong></td>
      <td><%= @order.gate %></td>
    </tr>
    <tr>
      <td><strong>Remark:</strong></td>
      <td><%= @order.remark %></td>
    </tr>
    <tr>
      <td><strong>Payment:</strong></td>
      <td><%= @order.payment %></td>
    </tr>
    <!--
      <td><% link_to 'Edit', edit_order_path(@order) %></td>
      <td></td>
    </tr>  -->
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <td>Product</td>
      <td>Qty</td>
      <td>Price</td>
      <td>Remark</td>
      <td>Remove</td>
    </tr>
  </thead>
  <tbody>
    <% @details.each do |d| %>
      <tr>
        <td><%= d.product.name %></td>
        <td>
          <% if session[:staff] != 1 %>
            <input type="text" name="" value="<%= d.qty %>">
          <% else %>
            <%= d.qty  %>
          <% end %>
        </td>
        <td><%= d.price %></td>
        <td><%= d.remark %></td>
        <td>
          <%= link_to "Destroy", detail_path(d,order: @order), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', orders_path %>
